/* Colors */
:root {
    --main-color: #1a1a25;
    --secondary-color: #f53b49;
    --background-color: #f6f6f6;
    --border-color: rgba(133, 143, 164, 0.15);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

/* Base */
body {
    background-color: var(--background-color);
    color: var(--main-color);
}

.product-body {
    background-color: white;
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.max-container {
    max-width: 1830px;
    padding: 0 15px;
    margin: 0 auto;
}

.background-container {
    background-color: #f6f6f6;
    padding-top: 69px;
}

.background-container .sales.categories {
    margin: 0;
    padding-bottom: 204px;
}

.light {
    color: white;
}

.button {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 12px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    opacity: 0.9;
}

.link-button {
    color: #4B7EE8;
    line-height: 140%;
    padding: 8px 0;
}

.light-button {
    border-radius: 2px;
    border: 1px solid #909090;
    background: white;
    color: black;
    font-weight: 400;
}

.outlined-button {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: transparent;
}

.outlined-button:hover {
    opacity: 1;
    background-color: var(--secondary-color);
    color: white;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: var(--main-color);
    color: white;
    border-bottom: 1px solid var(--border-color);
}

.header__container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 48px 15px 20px;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
}

.header__logo > span {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    color: var(--secondary-color);
}

.header__menu {
    display: flex;
    align-items: center;
    height: 30px;
}

.header__contact {
    font-size: 14px;
    font-weight: 500;
    border-right: 1px solid var(--border-color);
    padding-right: 30px;
}

.header__auth {
    display: flex;
    gap: 14px;
    padding-left: 30px;
}

.header__auth > a {
    font-size: 14px;
    line-height: 140%;
}

.header__left {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
}

.header__catalog {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 30px;
    border-right: 1px solid var(--border-color);
}

.header__catalog > svg {
    cursor: pointer;
}

.header__navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.header__navigation > a {
    padding: 12px 14px;
}

.header__cart {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 14px;
}

.header__cart-button {
    position: relative;
    display: flex;
}

.header__cart-button > span {
    position: absolute;
    top: -4px;
    right: -6px;
    padding: 2px 3px;
    min-width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    font-size: 10px;
    border-radius: 16px;
    border: 2px solid var(--main-color);
    line-height: 70%;
}

/* Banner */
.banner {
    background: url("../images/banners/banner_1.png") no-repeat;
    display: flex;
    margin-top: 60px;
    position: relative;
}

.banner__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 83px 0 136px 203px;
}

.banner__category {
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 900;
    line-height: 110%;
    text-transform: uppercase;
}

.banner__title {
    font-size: 49px;
    font-weight: 900;
    line-height: 110%;
    text-transform: uppercase;
}

.banner__subtitle {
    font-size: 49px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

.banner > img {
    flex: 0 50%;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.banner__buttons {
    position: absolute;
    bottom: 30px;
    right: 193px;
    display: flex;
    gap: 10px;
}

.banner__button {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1600px) {
    .banner {
        flex-direction: column;
    }

    .banner__buttons {
        left: calc(50% - 55px);
        right: calc(50% - 55px);
    }
}

@media screen and (max-width: 1200px) {
    .banner__content {
        padding: 41px 89px 68px 101px;
    }
}

@media screen and (max-width: 768px) {
    .banner__content {
        padding: 20px 44px 34px 50px;
    }

    .banner__category {
        font-size: 16px;
    }

    .banner__title,
    .banner__subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 576px) {
    .banner__content {
        padding: 24px;
    }
}

/* Categories */
.categories {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 120px;
}

.categories > h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    color: var(--main-color);
}

.categories__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 30px;
}

.categories__cards-item {
    position: relative;
    border-radius: 4px;
    height: 430px;
    background-color: #e9eaef;
}

.categories__grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.categories__grid-row .categories__cards-item {
    height: 280px;
}

.categories__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .5fr;
    gap: 30px;
}

.categories__grid-item-1 {
    grid-area: 1 / 1 / 3 / 2;
}

.categories__grid-item-2 {
    grid-area: 1 / 2 / 3 / 3;
}

.categories__grid-item-3 {
    grid-area: 1 / 3 / 2 / 4;
    height: 200px;
}

.categories__grid-item-4 {
    grid-area: 1 / 4 / 2 / 5;
    height: 200px;
}

.categories__grid-item-5 {
    grid-area: 2 / 3 / 3 / 4;
    height: 200px;
}

.categories__grid-item-6 {
    grid-area: 2 / 4 / 3 / 5;
    height: 200px;
}

.categories__cards-item > img, .sales__grid-item-1 > img {
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .categories__grid, .categories__grid-row {
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        grid-template-rows: auto;
    }

    .categories__grid-item-1,
    .categories__grid-item-2,
    .categories__grid-item-3,
    .categories__grid-item-4,
    .categories__grid-item-5,
    .categories__grid-item-6 {
        height: auto;
        grid-area: auto;
    }
}

@media screen and (max-width: 768px) {
    .categories__grid, .categories__grid-row, .categories__cards {
        grid-template-columns: 1fr;
    }
}

.categories__cards-item > h3 {
    position: absolute;
    top: 48px;
    left: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
}

/* Sales */
.sales__cards-item {
    height: 280px;
}

.sales__grid-item-1 {
    grid-area: 1 / 1 / 2 / 3;
}

.sales__grid-item-2 {
    grid-area: 1 / 3 / 2 / 4;
}

.sales__grid-item-3 {
    grid-area: 1 / 4 / 2 / 5;
}

@media screen and (max-width: 1200px) {
    .sales__grid-item-1,
    .sales__grid-item-2,
    .sales__grid-item-3 {
        height: auto;
        grid-area: auto;
    }

    .categories__grid-row .categories__cards-item {
        height: 100%;
    }
}

/* Split line */
.split-line {
    background-color: rgba(133, 143, 164, 0.2);
    margin-top: 30px;
    width: 100%;
    height: 1px;
}

/* Card */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 6px;
}

.card__count {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card__count-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #909cb5;
    color: #384255;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
}

.card__count-value {
    color: #858fa4;
    font-size: 18px;
    line-height: 135%;
}

.card__buttons > svg {
    cursor: pointer;
}

.card__content {
    background-color: white;
    padding: 20px 20px 26px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.card__rating {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}

.card__rating > span {
    color: #909cb5;
    font-size: 12px;
    font-weight: 500;
}

.card__badges {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
}

.card__buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card__price {
    display: flex;
    flex-direction: column;
}

.card__new-price {
    font-size: 17px;
    font-weight: 700;
    line-height: 136%;
}

.card__old-price {
    color: #858fa4;
    font-size: 16px;
    line-height: 136%;
    text-decoration-line: line-through;
}

.card__circles {
    position: absolute;
    top: 10px;
    left: 10px;
}

.card__buttons {
    display: flex;
    gap: 8px;
    position: absolute;
    top: 20px;
    right: 15px;
}

.card__buttons svg:hover {
    fill: white;
}

.card__circle {
    transition: .4s;
    cursor: pointer;
}

.card__circle:not(:first-child) {
    margin-left: -14px;
}

.card__circles:hover .card__circle:not(:first-child) {
    margin-left: 0;
}

.card__product-price {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.card__product-new-price {
    font-size: 30px;
    font-weight: 700;
}

.card__product-old-price {
    color: #858FA4;
    font-size: 18px;
    font-weight: 700;
    line-height: 135%;
    text-decoration: line-through;
}

.card__plan {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    border-radius: 4px;
    background-color: #909CB5;
    color: white;
}

.card__plan > span {
    width: 50%;
    font-size: 18px;
    font-weight: 700;
    line-height: 135%;
}

.card__plan > p {
    width: 50%;
    font-weight: 500;
    line-height: 140%;
}

.card__bonuses {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card__bonuses > span {
    color: var(--secondary-color);
    font-weight: 700;
    line-height: 140%;
}

/* Sales */
.sales {
    margin-bottom: 129px;
}

.sales__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.sales__title > p {
    color: #828282;
    font-size: 20px;
    font-weight: 800;
}

.sales__title > p:first-child {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
    transform: translateY(-5%);
}

/* Watched */
.watched__cards {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

/* Badges */
.in-stock-badge {
    display: flex;
    align-items: center;
    gap: 8px;
}

.in-stock-badge > div {
    display: flex;
    gap: 2px;
}

.in-stock-badge > span {
    color: #2fc509;
    font-size: 12px;
    font-weight: 500;
}

.available-badge {
    color: #4b7ee8;
    font-size: 12px;
    font-weight: 500;
}

/* Mail */
.mail {
    background-color: var(--main-color);
    padding: 79px 15px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail__title {
    color: white;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 23px;
}

.mail__form {
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.mail__input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mail__input-group label {
    color: #384255;
    font-size: 16px;
    font-weight: 400;
}

.mail__input-group span {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.mail__input-group input {
    padding: 8px 10px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid rgba(144, 156, 181, 0.50);
    background: #f6f6f6;
    outline: none;
}

.mail__input-group input:focus {
    border-color: var(--secondary-color);
}

.mail__confirm {
    color: #858fa4;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    margin: 8px 0;
}

.mail__confirm a {
    color: var(--secondary-color)
}

/* Breadcrumbs */
.breadcrumbs {
    display: flex;
    gap: 12px;
    color: rgba(56, 66, 85, 0.60);
    margin-top: 84px;
}

/* Product */
.product__card {
    background-color: var(--background-color);
    padding: 30px 20px 20px;
}

.product__card .card__badges {
    gap: 30px;
}

.product__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 71px;
}

.product__about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product__properties {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.product__name {
    padding: 30px 0 20px;
    font-size: 38px;
    font-weight: 800;
}

.product__container {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 94px 0 40px;
}

.product__images {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.product__main-image {
    width: 647px;
    max-height: 551px;
    margin-left: 70px;
}

.product__slide {
    width: 70px;
    height: 70px;
}

.product__slider {
    display: flex;
    align-items: center;
    gap: 30px;
}

.product__slider > svg {
    cursor: pointer;
}

.product__slider-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product__brands {
    display: flex;
    gap: 12px;
}

.product__button > svg {
    cursor: pointer;
}

.product__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 11px;
    font-weight: 900;
}

.product__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(133, 143, 164, 0.20);
}

.product__header > img {
    width: 248px;
    height: 26px;
}

.product__info {
    display: flex;
    gap: 29px;
    flex-wrap: wrap;
}

.product__buttons {
    display: flex;
    gap: 30px;
}

.product__button {
    display: flex;
    gap: 12px;
    color: #384255;
    font-size: 16px;
}

.product__property-key {
    color: #909cb5;
    font-size: 16px;
    line-height: 150%;
}

.product__property-value {
    color: #384255;
    font-size: 16px;
    line-height: 150%;
}

.product__property {
    display: flex;
    align-items: center;
    gap: 4px;
}

.product__rating-property {
    gap: 6px;
}

.product__rating-property > p {
    color: inherit;
}

.product__properties-card {
    display: flex;
    gap: 6px;
}

.product__rating-property-total > .product__property-key {
    color: inherit;
    font-weight: 700;
    line-height: 130%;
}

.product__rating-property-total {
    margin-top: 14px;
}

.product__select-group {
    display: flex;
    gap: 8px;
}

.product__select-group > p {
    min-width: 90px;
    color: #384255;
    line-height: 140%;
}

.product__select-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.product__select-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 9px 8px;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid rgba(144, 156, 181, 0.50);
    color: #384255;
    font-weight: 700;
    transition: .4s;
    cursor: pointer;
}

.product__properties-card .split-line {
    margin: 20px 0;
}

.product__select-button:hover {
    border: 2px solid var(--secondary-color);
}

.product__properties-card > h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
}

.product__bottom-card {
    display: flex;
    gap: 32px;
    padding: 0 0 10px 0;
    flex-wrap: wrap;
}

.product__delivery-property {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.product__delivery-property > .product__property-value {
    color: var(--main-color);
    font-weight: 400;
    line-height: 140%;
}

.product__delivery-property > .product__property-key {
    padding: 6px 0;
}

.product__delivery-property > .product__property-value span {
    font-weight: 700;
}

.product__property-faq {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    line-height: 25px;
}

.product__property-link {
    color: #4B7EE8;
    line-height: 140%;
}

@media screen and (max-width: 992px) {
    .product__container {
        flex-direction: column;
        gap: 40px;
    }

    .product__main-image {
        margin-left: 0;
        width: 100%;
    }

    .product__content {
        padding-left: 0;
    }

    .product__flex {
        justify-content: space-between;
    }
}

@media screen and (max-width: 576px) {
    .product__flex {
        flex-direction: column;
        align-items: center;
    }

    .product__info, .product__about {
        width: 100%;

    }

    .product__about, .product__property, .product__buttons {

        justify-content: space-between;
    }

    .product__content .card {
        width: 100%;
    }
}

/* Catalog */
.catalog {
    margin-top: 60px;
}

.catalog__cards {
    grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
}

.catalog__header {
    display: flex;
    gap: 163px;
    flex-wrap: wrap;
}

.catalog__header > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 64px;
}

.catalog__header > div:first-child {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.catalog__header > div:first-child > p {
    color: #828282;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
}

.catalog__header > div:first-child > p:first-child {
    color: inherit;
    font-size: 38px;
    font-weight: 800;
    line-height: 110%
}

.catalog__products {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin-top: 73px;
    gap: 92px;
}

.catalog__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog__sidebar-watched > section {
    width: 210px;
    align-items: center;
}

.catalog__sidebar-filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 27px;
    width: 100%;
}

.catalog__sidebar-watched > .sales.categories {
    margin-top: 39px;
}

.catalog__filter-group {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.catalog__filter-group > label {
    font-size: 24px;
    font-weight: 800;
    line-height: 120%;
}

.catalog__filter-input {
    border: 1px solid #909090;
    outline: none;
    padding: 5px;
    width: 82px;
}

.catalog__filter-checkboxes-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.catalog__filter-checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
}

.catalog__filter-checkbox span {
    color: black;
    font-weight: 600;
    line-height: 120%;
}

.catalog__filter-checkbox > input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--secondary-color);
    cursor: pointer;
}


.catalog__filter-input:focus {
    border-color: var(--secondary-color);
}

.catalog__filter-group > input[type="range"] {
    accent-color: var(--secondary-color);
    cursor: pointer;
}

.catalog__filter-group-row {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.catalog__filter-group-row.catalog__filter-group {
    display: flex;
    gap: 14px;
    flex-direction: row;
}

.catalog__filter-group-col {
    display: flex;
    flex-direction: column;
}

.catalog__filter-group .catalog__filter-group-row {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

@media screen and (max-width: 992px) {
    .catalog__products, .catalog__cards {
        grid-template-columns: 1fr;
    }

    .catalog__sidebar-watched > section {
        width: 100%;
    }

    .watched__cards {
        grid-template-columns: 1fr;
    }

    .catalog__header > div {
        gap: 16px;
    }

    .catalog__header {
        gap: 81px;
    }
}

@media screen and (max-width: 768px) {
    .catalog__filter-group-row {
        gap: 30px;
    }

    .sales__cards.categories__cards.watched__cards, .catalog__sidebar-watched {
        width: 100%;
    }
}

/* Footer */
.footer {
    padding: 148px 0 38px;
}

.footer__container {
    flex-direction: column;
    align-items: center;
}

.footer .header__left {
    margin-bottom: 136px;
}

.footer__contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.footer__mail-input {
    display: flex;
    gap: 33px;
    border-radius: 5px;
    background: rgba(133, 143, 164, 0.15);
    padding: 15px;
}

.footer__mail-input > input {
    min-width: 180px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.footer__mail-input > svg {
    cursor: pointer;
}

.footer__mail-input > input::placeholder {
    color: #858FA4;
}

.footer__contacts-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__phone {
    color: #858FA4;
    font-weight: 500;
    line-height: 140%;
}

.footer__email {
    color: #858FA4;
    font-family: Mazzard, sans-serif;
    font-weight: 400;
}

.footer__docs {
    color: #4b7ee8;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.footer__socials {
    display: flex;
    gap: 10px;
}

.footer__left {
    display: flex;
    gap: 151px;
    flex-wrap: wrap;
}

.footer__payments {
    display: flex;
    align-items: center;
    gap: 31px;
}

.footer__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-split-line {
    background-color: rgba(133, 143, 164, 0.15);
}

.footer__copyright {
    font-weight: 400;
}